body {
  background: linear-gradient(135deg, #181c23 0%, #222b36 100%);
  min-height: 100vh;
  margin: 0;
}

.welcome-message {
  margin-top: 2vw;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 2.8rem;
  color: #228fff;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-shadow: 0 3px 28px #111, 0 0px 5px #101b21;
}

.welcome-message b {
  color: #f3c96b;
  font-weight: 900;
  text-shadow: 0 2px 14px #222, 0 1px 2px #feed8d;
}

.welcome-subtext {
  font-size: 1.23rem;
  color: #fedb92;
  margin-top: 1vw;
  font-family: "Segoe UI", Arial, sans-serif;
}
